* {
  box-sizing: border-box;
}
:root {
  --font-primary: "Hanuman", serif;
  --fs-thin: 100;
  --fs-lght: 300;
  --fs-reg: 400;
  --fs-bld: 700;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sm: 0.8rem;
  --fs-exsm: 0.6rem;

  --fc-primary: #36393a99;
  --fc-txtColor: #ffffff;
  --fc-hover: #21222299;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-size: var(--fs-body);
  text-shadow: 2px 2px 0 #3b3e3f, 2px -2px 0 #3b3e3f, -2px 2px 0 #3b3e3f,
    -2px -2px 0 #3b3e3f, 2px 0px 0 #3b3e3f, 0px 2px 0 #3b3e3f,
    -2px 0px 0 #3b3e3f, 0px -2px 0 #3b3e3f;
  color: var(--fc-txtColor);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 215px;
}

.w-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: span 2;
  grid-row: 1;
  height: 721px;
}

.info-cont,
.two-day-forecast {
  cursor: default;
}

.info-cont {
  border: hidden var(--fc-primary);
  border-radius: 5px;
  max-width: 600px;
  height: 36.5;
  margin: 8em auto 1em auto;
  background-color: #36393a99;
}

.additional-info {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3.5em;
  border-top: 1px solid #ffffff99;
}

.humid,
.uv,
.rain,
.wind {
  font-size: var(--fs-body);
  font-weight: var(--fs-bld);
  padding: 0 0.5em;
  width: 200px;
  height: 25px;
}

.humid,
.rain {
  border-right: 1px solid #ffffff99;
}

.local {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  margin-bottom: 0;
}

.region,
.date {
  margin-top: -0.3em;
  margin-bottom: 1em;
}

.forecast {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: -3em auto;
}

.temp {
  font-size: var(--fs-h1);
  margin-bottom: 0;
}

.feels {
  margin-top: -1em;
}

.cond {
  margin-top: 3em;
  line-height: 1;
  margin-left: 0.6em;
  height: 50px;
}

.condition {
  margin-top: -1em;
}

.icon1 {
  height: 80px;
  align-self: center;
  margin-right: -0.2em;
  margin-top: auto;
}

header {
  max-width: 960px;
  text-align: center;
  position: absolute;
  margin-top: 3em;
}

.web-title {
  font-size: var(--fs-h2);
}

.input,
.btn1 {
  padding: 0.4em;
}

.input {
  margin-left: 1em;
  border-radius: 3px;
  border: none;
  background-color: var(--fc-hover);
}

::placeholder {
  color: var(--fc-txtColor);
}

.btn1 {
  vertical-align: middle;
  margin-left: 0.3em;
  background-color: var(--fc-hover);
  border: none;
  max-width: 30px;
  max-height: 30px;
  border-radius: 70px;
  cursor: pointer;
}

.searchIcon {
  width: 90%;
}

/*423*/

@media screen and (min-width: 423px) {
  header {
    flex-direction: column;
    margin: 0 auto;
    left: 100px;
    right: 100px;
  }

  .web-title {
    margin-bottom: 0;
  }

  .input {
    margin-top: 0.4em;
    width: 250px;
    height: 24px;
  }
}

.two-day-forecast {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  height: 180px;
  text-align: center;
  line-height: 0.4;
}

.dates {
  margin-top: 1em;
  font-size: var(--fs-h3);
  text-transform: uppercase;
}
.title-fc {
  margin-top: 1.5em;
  font-size: var(--fs-body);
}

.subTitle-1 {
  font-size: var(--fs-body);
  margin-top: 0.5em;
}

.day1,
.day2 {
  margin-top: 0.5em;
  width: 47%;
  padding: 0;
  background-color: var(--fc-primary);
  border: hidden var(--fc-primary);
  border-radius: 5px;
}

.alert-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 450px;
}

.alert {
  font-size: var(--fs-h3);
  text-align: center;
  margin-top: 1.27em;
  margin-left: 0.2em;
}

.alert-img {
  width: 7%;
  height: 7%;
  align-self: center;
}

.slider-container {
  display: flex;
  max-width: 70px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  position: relative;
  margin-bottom: -0.2em;
  margin-top: -0.8em;
  cursor: pointer;
}

.f {
  margin-left: 0.5em;
}

.c {
  margin-right: 0.5em;
}

.f,
.c {
  margin-top: 0.2em;
  z-index: 1;
}

.slider-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  cursor: pointer;
}

.slider {
  border-radius: 70px;
  border: 1px solid #000;
  background: #fce145;
  width: 65%;
  z-index: 2;
}

/*234*/
@media screen and (orientation: landscape) {
  .info-cont {
    transition: transform ease 1s, background-color ease 1s, border ease 1s,
      color ease 1s;
  }

  .info-cont:hover {
    transform: scale(1.1, 1.1);
    background-color: var(--fc-hover);
    border: hidden var(--fc-hover);
  }

  .day1,
  .day2 {
    transition: transform ease 1s, background-color ease 1s, border ease 1s,
      color ease 1s;
  }

  .day1:hover,
  .day2:hover {
    transform: scale(1.1, 1.1);
    background-color: var(--fc-hover);
    border: hidden var(--fc-hover);
  }
}

@media screen and (orientation: portrait) {
  header {
    margin-top: 2.5em;
  }

  .web-title {
    font-size: var(--fs-h3);
  }

  .info-cont {
    max-width: 450px;
  }

  .two-day-forecast {
    max-width: 450px;
  }

  .input {
    width: 200px;
  }

  .btn1 {
    max-width: 25px;
    max-height: 25px;
  }

  .searchIcon {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  header {
    width: 100%;
  }

  .info-cont {
    margin-top: 8.5em;
    width: 95%;
    height: 28%;
  }

  .country {
    font-size: var(--fs-h3);
  }

  .additional-info {
    font-size: var(--fs-h3);
    width: 70%;
    height: 70px;
    border: hidden var(--fc-primary);
    border-radius: 5px;
    background-color: #36393a99;
    position: absolute;
    top: 290px;
    left: 15%;
  }

  .humid,
  .rain,
  .wind {
    border: none;
  }

  .two-day-forecast {
    margin-top: 6em;
    width: 100%;
    height: 28.5%;
    padding: 1em;
  }

  .condition-f {
    font-size: 0.8rem;
  }
}
